<div>
    <form id="createFunctionForm">
        <input type="hidden" name="target" th:value="${target}" id="targetField">
        <input type="hidden" name="redirectTarget" th:value="${redirectTarget}" id="redirectTargetField">
        <p th:text="${target}"></p>
        <table>
            <tr>
                <th>X</th>
                <th>Y</th>
            </tr>
            <tr th:each="i : ${#numbers.sequence(1, points)}">
                <td><input type="number" name="x" step="0.01" /></td>
                <td><input type="number" name="y" step="0.01"/></td>
            </tr>
        </table>
        <button onclick="create()">Создать пупу</button>
    </form>
</div>

