<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главное меню</title>
</head>
<body>
<h1>Главное меню</h1>
<ul>
    <li><a href="/tabulated-operations">Простейшие операции над функциями</a></li>
    <li><a href="#"></a>Дифференцирование функций</li>
    <li><a href="#"></a>Высчитать интеграл</li>
    <li><a href="#"></a>График</li>
    <li><a href="#"></a>Создание сложной функции</li>
    <li><a href="#"></a>Настройки фабрики</li>
</ul>

<dialog id="settingsModal">
    <form action="/settings" method="post">
        <label for="factoryType">Выберите фабрику:</label>
        <select name="factoryType" id="factoryType">
            <option value="array" ${selectedFactory == 'array' ? 'selected' : ''}>Фабрика на основе массива</option>
            <option value="linkedlist" ${selectedFactory == 'linkedlist' ? 'selected' : ''}>Фабрика на основе связного списка</option>
        </select>
        <button type="submit">Сохранить</button>
        <button type="button" onclick="document.getElementById('settingsModal').style.display = 'none'; window.location.reload();">
            Закрыть
        </button>

    </form>
</dialog>
<a href="#" onclick="document.getElementById('settingsModal').showModal()">Открыть настройки</a>
</body>
</html>

